<a href="https://colab.research.google.com/github/Villains-Kuker/ML_society/blob/main/1_1_introduction_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UCLAIS: Introduction to Python

Python is a popular high-level, dynamically typed, general-purpose programming language that supports a variety of different programming paradigms, including notably object-oriented programming. In particular, Python has been heavily adopted by the machine learning community and is blessed with a large ecosystem of tools and libraries for artificial intelligence and scientific computing more broadly.

## The Zen of Python, by Tim Peters

Before diving into Python syntax, it is worth mentioning that Python as a programming language was designed with a number of guiding principles codified in the poem _The Zen of Python_ by Tim Peters. This code philosophy continues to influence the design and implementation of Python code today, and it is worth bearing in mind.

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Bearing in mind that 'readability counts', it is generally good practice to adopt a consistent style for writing Python code. The standard in the Python community since 2001 has been [PEP 8](https://peps.python.org/pep-0008/), and we would encourage you when you set up your environment to use an automatic code formatter, such as [Black](https://github.com/psf/black), to help format your code consistently.

## Basic Syntax

### Comments

In [7]:
# Single-line comments look like this!
# Everything after the '#' character on the same line is ignored.

"""
    Multi-line strings look like this. When freestanding like this,
    they are typically used for documentation.

    Properly documenting your code is especially important if you are
    working in a team (or even on your own over a long period).
"""

'\n    Multi-line strings look like this. When freestanding like this,\n    they are typically used for documentation.\n\n    Properly documenting your code is especially important if you are\n    working in a team (or even on your own over a long period).\n'

## The Data Model

Core to programming is dealing with **data** (particularly as it relates to real-world problems you are trying to solve). As such, we need **abstractions** that let us reason about and represent data in code, whether we are handling numbers or text.

In Python, all data is represented by **objects** and the relations between them. Every object has the following:
- an **identity**, which is a unique integer _identifying_ the object;
- a **type** defining what the object represents and by extension the operations it supports; and
- a **value**.

The type and identity of an object never change once an object has been created and are also objects themselves. 👀

## Built-in Types

Python comes with many different built-in types, including numerics, sequences, mappings, classes, instances and exceptions. We are now going to get to know a few!

### Numeric Types

In [8]:
# Integers (Python integers have unlimited precision!)
4  # => 4

4

In [9]:
# We can include underscores in integers to make them more readable!
1_000_000_000

1000000000

In [10]:
# Floats (IEEE 754 double-precision floating-point numbers)
3.14

3.14

In [11]:
# Complex numbers
4 + 3j

(4+3j)

In [12]:
# Arithmetic operations
5 + 5  # => 10

10

In [13]:
7 - 2  # => 5

5

In [14]:
3 * 4  # => 12

12

In [15]:
24 / 3  # => 8.0 (standard division always results in a float)

8.0

In [16]:
30 // 4  # => 7 (integer division)

7

In [17]:
30 % 4  # => 2 (the modulo operator, which gives the remainder)

2

In [18]:
-30 % 4  # => 2 (modulo also works for negative numbers)

2

In [19]:
2**4  # => 16 (exponentiation)

16

In [20]:
type(123), type(2.6), type(4 + 6j)  # allows you to check the type of number you have

(int, float, complex)

In [21]:
# what is going on here? blame IEEE 754 and how we represent decimal numbers
0.1 + 0.2

0.30000000000000004

(If you want to go on a long tangent on IEEE 754 and the representation of floating-point numbers in binary, there is an [interesting video](https://www.youtube.com/watch?v=p8u_k2LIZyo) on YouTube about the implementation of a fast inverse square root algorithm in the game, Quake III, dating from before most modern computers had dedicated CPU instructions for the operation.)

### Boolean Values

**Booleans** (named after the English mathematician George Boole) are truth values that are either `True` or `False` (note the capitalisation).

In [22]:
True  # => True

True

In [23]:
False  # => False

False

In [24]:
not True  # => False

False

In [25]:
not False  # => True

True

In [26]:
True and True  # => True

True

In [27]:
True and False  # => False

False

In [28]:
False and True  # => False

False

In [29]:
False and False  # => False

False

In [30]:
True or True  # => True

True

In [31]:
True or False  # => True

True

In [32]:
False or True  # => True

True

In [33]:
False or False  # => False

False

In [34]:
# what is this operation?
True ^ True  # => False

False

In [35]:
True ^ False  # => True

True

In [36]:
False ^ True  # => True

True

In [37]:
False ^ False  # => False

False

In [38]:
type(True), type(False)

(bool, bool)

Comparison operations, such as checking for equality or inequality, evaluate to Boolean values.

In [39]:
4 == 4  # => True (checking for value equality)

True

In [40]:
3 == 7  # => False

False

In [41]:
1 != 5  # => True (checking for value inequality)

True

In [42]:
1 < 2  # => True (less than)

True

In [43]:
5 <= 5  # => True (less than or equal to)

True

In [44]:
6 > 3  # => True (greater than)

True

In [45]:
7 >= 8  # => False (greater than or equal to)

False

In [46]:
1 < 2 < 3  # => True (these can be chained in Python, unlike other languages!)

True

### Strings

In [47]:
"Strings of characters look like this in Python."

"You can also use single quotes if you prefer."

""" There are also
    multi-line strings. """

""" You can also create multi-line strings with single quotes,
    although this is fairly uncommon. """

'If you want to include a double quote in a string, you need to escape it with a backslash like "this" or use a string enclosed with single quotes.'

"The same thing applies if you want to include a ' character within a single-quoted string."

"This means if you want to include a single backslash, you need to escape that too with a backslash in the following way: \\."

"You can also add new lines (\n on modern macOS & Linux, \r\n on Windows) and tabs (\t) using escape characters."

type("Hello, world!")

str

Generally, Python style guides encourage you to stick to double-quoted strings wherever reasonable.

In [48]:
# Strings can be concatenated together

"Hello, " + "world!"

'Hello, world!'

While `+` _adds_ two numbers together, it _concatenates_ two strings together. This idea that operators can have different meanings in different contexts is known as **operator overloading**.

**Note**: you cannot use the `+` operator on a string and an integer together &ndash; this will raise a `TypeError`.

In [49]:
# len(·) can be used to find the length of a string

len("Hello, world!")

13

You can check for the presence of a substring within string using the `in` operator, which returns a Boolean value.

In [50]:
"world" in "Hello, world!"

True

In [51]:
"Goodbye" in "Hello, world!"

False

In [52]:
"Goodbye" not in "Hello, world!"

True

String objects &ndash; thanks to their type! &ndash; support a number of other useful operations too!

In [53]:
"hello".upper()

'HELLO'

In [54]:
"HELLO".lower()

'hello'

In [55]:
"hEllO, woRlD!".capitalize()

'Hello, world!'

In [56]:
"Hello, world!".replace("world", "Jeremy and Ferran")

'Hello, Jeremy and Ferran!'

### An Aside on Variables

In Python, variables are symbolic names (labels) that reference objects. The act of setting a variable to a particular value is known as **assignment**. There is no separate declaration step as in other languages.

In [57]:
number = 123
string = "Hello, world!"

user = "Jeremy"

# Format strings allow us to insert the string representation
# of an object within a string (if it has one).

f"Hello, {user}!"

'Hello, Jeremy!'

Variable names in Python can contain letters, digits and underscores; however, they cannot start with a digit. They are _case-sensitive_, so capitalisation matters!

By convention, variable names in Python are all lowercase with words separated by underscores, e.g. `message_length`. This is known as _snake case_. 🐍

In [58]:
# Good variable names ✅

user = "Jeremy"
user_age = 21

meaning_of_life = 42

post_title = "Introduction to Python"
like_count = 54
views = 6_421

# Suboptimal variable names ❌

countriesVisited = 17  # (lower) camel case
NumberOfChapters = 8  # Pascal case / upper camel case
SPEED_OF_LIGHT = 299_792_458  # uppercase with underscores
golden_Ratio = 1.61803399  # pure pain

Sometimes, you might find yourself updating the value of a (typically numerical) variable in relation to itself using one of the **infix operators** we introduced earlier.

In [59]:
x = 1

x = x + 6  # x = x + 6     => x == 7
x = x - 1  # x = x - 1     => x == 6
x = x * 2  # x = x * 2     => x == 12
x = x / 3  # x = x / 3     => x == 4.0
x = x // 3  # x = x // 3    => x == 1.0
x = x + 10  # x = x + 10    => x == 11.0
x = x % 4  # x = x % 4     => x == 3.0

x

3.0

This can seem a bit verbose, so Python provides a series of **shorthand assignment operators** as **syntactic sugar** to help make your code cleaner and more readable &ndash; a useful thing to master! 🍦🍪

In [60]:
x = 1

x += 6  # x = x + 6     => x == 7
x -= 1  # x = x - 1     => x == 6
x *= 2  # x = x * 2     => x == 12
x /= 3  # x = x / 3     => x == 4.0
x //= 3  # x = x // 3    => x == 1.0
x += 10  # x = x + 10    => x == 11.0
x %= 4  # x = x % 4     => x == 3.0

x

3.0

### None

`None` is keyword in Python that signifies that there is no value there &ndash; it is the encapsulation of emptiness, totally devoid of meaning.

In [61]:
value = None  # nothing to see here!

value

In [62]:
type(value)  # it still has a type though!

NoneType

The Romans would be proud. In Ancient Rome, _res_ meant nothing, as well as everything or just something. Supposedly, everything is also nothing, and nothing is something. Probably. But anyway, back to Python! 😳

Try not to overuse `None`, but it is certainly helpful when you want to represent a value not being present.

## Collections

Collections are types that are used for containing other types! Python has several general-purpose built-in container types, such as **lists, tuples, sets and dictionaries**. More complex collections &ndash; such as queues, ordered dictionaries and so on &ndash; are available through modules in the **standard library** included with every Python installation.

You will want to get familiar with many of the simpler collections.

In [63]:
fruit = ["apple", "banana", "cherry", "dragon fruit", "elderberry", "fig", "guava"]

fruit

['apple', 'banana', 'cherry', 'dragon fruit', 'elderberry', 'fig', 'guava']

In [64]:
# You can find the length of a list with len(·)

len(fruit)

# The list of fruit above contains seven fruit! Ace!

7

In [65]:
# Lists are 'subscriptable', so you can index into them
# Python lists are zero-indexed, so list indices start from zero

fruit[0]

'apple'

When counting in Python, we always start at zero: 0, 1, 2, 3, 4, 5, 6, 7, etc.

In [66]:
# Negative indices let you retrieve values relative to the end of the list

fruit[-1]

'guava'

In [67]:
# You can also select slices of a list

fruit[2:4]  # the starting index is inclusive, but the ending index is exclusive

['cherry', 'dragon fruit']

In [68]:
# You can omit a starting or ending point to expand to the start or end of the list

fruit[1:]

['banana', 'cherry', 'dragon fruit', 'elderberry', 'fig', 'guava']

In [69]:
fruit[:4]

['apple', 'banana', 'cherry', 'dragon fruit']

In [70]:
# You can also provide a step! (e.g. to skip certain elements)

fruit[::2]

['apple', 'cherry', 'elderberry', 'guava']

In [71]:
fruit[1:6:2]

['banana', 'dragon fruit', 'fig']

In [72]:
# In case you were wondering, yes -- you can use this to reverse lists!

fruit[::-1]

['guava', 'fig', 'elderberry', 'dragon fruit', 'cherry', 'banana', 'apple']

In [73]:
# It is also a useful hack for creating soft copies of lists...

fruit[:]

['apple', 'banana', 'cherry', 'dragon fruit', 'elderberry', 'fig', 'guava']

In [74]:
# You can also append to lists

fruit.append("honeydew melon")

fruit

['apple',
 'banana',
 'cherry',
 'dragon fruit',
 'elderberry',
 'fig',
 'guava',
 'honeydew melon']

In [75]:
# And pop from the end of a list...

fruit.pop()

fruit

['apple', 'banana', 'cherry', 'dragon fruit', 'elderberry', 'fig', 'guava']

In [76]:
# Or anywhere really by index!

dragon_fruit = fruit.pop(3)  # sorry, dragon fruit 🙃

dragon_fruit, fruit

('dragon fruit', ['apple', 'banana', 'cherry', 'elderberry', 'fig', 'guava'])

In [77]:
# You can also find the index of the first list item matching some value

fruit.index("banana")

1

In [78]:
# And remove the first list item matching some value

fruit.remove("guava")  # sorry, guava

fruit

['apple', 'banana', 'cherry', 'elderberry', 'fig']

In [79]:
# Lists can be concatenated together

[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [80]:
# And yes, they can also be 'multiplied'

fruit * 4

# Woah! So much fruit!

['apple',
 'banana',
 'cherry',
 'elderberry',
 'fig',
 'apple',
 'banana',
 'cherry',
 'elderberry',
 'fig',
 'apple',
 'banana',
 'cherry',
 'elderberry',
 'fig',
 'apple',
 'banana',
 'cherry',
 'elderberry',
 'fig']

In [81]:
# You can also 'extend' one list with the values of another

list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]

list1.extend(list2)

list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
# You can also check whether an element is in a list with `in`

"apple" in fruit

True

In [83]:
# You can 'unpack' list values (the tuples are implicit here)

# Assign the first two fruit to a and b, and the remaining fruits to c

a, b, *c = fruit

a, b, c

('apple', 'banana', ['cherry', 'elderberry', 'fig'])

In [84]:
# Formally, unpacking can be useful for swapping variables in one  (tuples used behind the scene - more on this later)

x = 5
y = 7

y, x = x, y

f"x = {x}, y = {y}"

'x = 7, y = 5'

### Tuples

Tuples are finite, immutable, ordered sequences of elements. Once a tuple is created, elements cannot be appended, removed or changed. Instead, a new tuple needs to be created.

**Note**: this means that if you have a tuple of lists, the lists themselves can change, but the elements in the tuple cannot be reassigned to other objects.

In [85]:
# Tuples look like this
()  # an empty tuple (or unit/null tuple)

()

In [86]:
(1,)  # a 1-tuple

(1,)

In [87]:
(1, 3)  # a 2-tuple (or couple / ordered pair)

(1, 3)

In [88]:
(1, 3, 5)  # a 3-tuple (or triple)

(1, 3, 5)

In [89]:
type(())

tuple

In [90]:
# A lot of the same list operations also work on tuples

numbers = (1, 2, 3, 4, 5, 6, 7, 8)

numbers[2:]  # => (3, 4, 5, 6, 7, 8)

(3, 4, 5, 6, 7, 8)

In [91]:
# Lists are mutable

# List version of the same numbers
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8]

# Lists are mutable
numbers_list[0] = 10
numbers_list

[10, 2, 3, 4, 5, 6, 7, 8]

In [92]:
# Tuples are immutable

numbers[0] = 10
numbers

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictionaries are key-value maps, where each key uniquely maps to a single value.

In [93]:
empty_dict = {}

type(empty_dict)

dict

In [94]:
student = {
    "name": "Sergi",
    "age": 22,
    "degree": "MSci Medical Physics",
    "nationality": "Georgian",
}

# You can index into dictionaries just as you can with lists
student["name"]

'Sergi'

In [97]:
# You can check if an key is present within a dictionary using 'in'

"name" in student

True

In [98]:
# If you would rather return a default value, use the get() method

student.get("university", "UCL: London's Global University™, or something like that")

"UCL: London's Global University™, or something like that"

In [100]:
# use .keys() to get the keys of a dictionary

student.keys()

dict_keys(['name', 'age', 'degree', 'nationality'])

In [101]:
# likewise, use .values() to get only the values

student.values()

dict_values(['Sergi', 22, 'MSci Medical Physics', 'Georgian'])

In [103]:
# use .items() to get the key, value pairs as tuples

student.items()

dict_items([('name', 'Sergi'), ('age', 22), ('degree', 'MSci Medical Physics'), ('nationality', 'Georgian')])

In [104]:
# dictionaries can also be updated with the values from other dictionaries

student.update({"languages": ["Georgian", "Russian", "English", "Italian"], "favourite_colour": "Blue"})

student

{'name': 'Sergi',
 'age': 22,
 'degree': 'MSci Medical Physics',
 'nationality': 'Georgian',
 'languages': ['Georgian', 'Russian', 'English', 'Italian'],
 'favourite_colour': 'Blue'}

In [105]:
# items can be removed from dictionaries with del

del student["nationality"]

student

{'name': 'Sergi',
 'age': 22,
 'degree': 'MSci Medical Physics',
 'languages': ['Georgian', 'Russian', 'English', 'Italian'],
 'favourite_colour': 'Blue'}

### Sets

While lists are ordered sequences of items, sets are unordered containers of unique items.

In [106]:
empty_set = set()  # Watch out, {} will create an empty dictionary!
values = {1, 2, 3, 4, 5, 5}  # Python has a neat syntax for creating sets

# This syntax might be a clue that sets are related to dictionaries, just without values

values

{1, 2, 3, 4, 5}

In [107]:
# You can add values to sets

values.add(6)

values

{1, 2, 3, 4, 5, 6}

In [108]:
# You can also remove values from sets

values.remove(6)

values

{1, 2, 3, 4, 5}

In [109]:
# Since, sets can contain hashable objects, they can contain tuples of integers (i.e. points)

points = {(1, 2), (2, 4), (3, 5)}

points

{(1, 2), (2, 4), (3, 5)}

In [110]:
# Lists are mutable, so they can not be used in a set
points = {[1, 2], [2, 4], [3, 5]}

points

TypeError: unhashable type: 'list'

## Print statements

Before we progress, it would be rude not to introduce the `print()` function! [Read more in the documentation](https://docs.python.org/3/library/functions.html#print).

In [111]:
print("Hello, world!")  # Glad we got that one out the way!

Hello, world!

In [112]:
# print(·) has plenty of useful arguments you can explore

print("a", "b", "c", "d", sep=" | ", end=" !\n")

a | b | c | d !

In [113]:
# String formatting (f-strings)
a = 2
b = 1
c = a-b

print(f"{a} - {b} = {c}")

2 - 1 = 1

In [114]:
# The same would not work, without proper formatting

print("a - b = c")

a - b = c

## Control Flow

### Conditional statements

The infamous 'if-statement' is used for executing different pieces of code based on some Boolean value.

In [115]:
if 1 < 2:
    print("Wow, 1 < 2.")

if "apple" in fruit:
    print("Apples are recognised as a type of fruit.")
elif "banana" in fruit:
    print(
        "Well, apples might no longer be fruit for some reason, but at least we have bananas."
    )
else:
    print("Goodness, just HOW will we cope without apples and bananas?")

Wow, 1 < 2.
Apples are recognised as a type of fruit.

Indentation is **really** important in Python! By convention, blocks are indented with four spaces &ndash; not tabs (however much you or I may love tabs).

### For loops

For loops provide a way of iterating over some **iterable**. It is possible to iterate over many of the types we have already discussed, such as the characters of a string, the items of a list and the keys of a dictionary.

In [116]:
for character in "Hello":
    print(character)

H
e
l
l
o

In [117]:
for item in [1, 2, 3, 4]:
    print(item)

1
2
3
4

In [118]:
dictionary = {"a": 1, "b": 2}
for key in dictionary:
    print(key, dictionary[key])

a 1
b 2

In [119]:
# It is arguably more "Pythonic" to iterate over dictionaries
# in the following way instead using .items():

for key, value in dictionary.items():
    print(key, value)

a 1
b 2

In [120]:
# You can also iterate over the enumeration of a list, which
# will number the elements (starting from zero) for you as
# you go along and iterate over the list - neat!

for index, value in enumerate(fruit):
    print(index, value)

0 apple
1 banana
2 cherry
3 elderberry
4 fig

In [121]:
# If you have two lists and want to iterate over them both in parallel, use zip(·, ·)
# It will terminate after at least one of the lists gets exhausted

for a, b in zip([1, 2, 3, 4], [5, 6, 7, 8, 9]):
    print(a, b)

1 5
2 6
3 7
4 8

As we have just hinted at, you can iterate over way more than just basic types. **Generators** are special iterators that yield values that may be looped over. One common such generator is `range([start,] end)` (or with a step, `range(start, end, step)`), and you can also [define your own](https://docs.python.org/3/tutorial/classes.html#generators).

In [122]:
# Note that the endpoint is exclusive, so you end up
# with five numbers, zero to four

for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [123]:
for i in range(1, 5):
    print(i, end=" ")

1 2 3 4

In [124]:
for i in range(0, 10, 2):
    print(i, end=" ")

0 2 4 6 8

### While loops

As in other languages, Python also has while loops.

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

# Yes, `while True:` would loop forever!

## Comprehensions

Python also has the idea of list comprehensions and dictionary comprehensions. Comprehensions are intimately related with the ideas of maps and filters from functional programming.

Note: there are no tuple comprehensions; they instead result in in-line generators.

In [125]:
names = ["jeremy", "filip", "luke", "ferran"]

[name.capitalize() for name in names]

['Jeremy', 'Filip', 'Luke', 'Ferran']

In [126]:
# You can add filters to list comprehensions

[name.upper() for name in names if "e" in name]

['JEREMY', 'LUKE', 'FERRAN']

In [127]:
# You can also iterate over multiple iterables at once
[(x, y) for x in range(5) for y in range(5) if x != y]

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [128]:
# Likewise, there are also dictionary comprehensions

name_lengths = {name.upper(): len(name) for name in names}

name_lengths

{'JEREMY': 6, 'FILIP': 5, 'LUKE': 4, 'FERRAN': 6}

In [129]:
# As well as set comprehensions

{i for i in range(10)}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Comprehensions are a powerful tool to have in your arsenal. Here is a more complex example on how they could be used, mimicking the data format you might expect to be returned from some web API.

In [130]:
# define a list of dictionaries containing a film and its release date
films = [
    {"name": "Fight Club", "year": 1999, "stars": 4.3},
    {"name": "When Harry Met Sally", "year": 1989, "stars": 4.1},
    {"name": "Spirited Away", "year": 2001, "stars": 4.9},
]

# get a dictionary of films by year
films_by_year = {film["name"]: film["year"] for film in films}

films_by_year

{'Fight Club': 1999, 'When Harry Met Sally': 1989, 'Spirited Away': 2001}

### Functions

We have seen a few built-in functions so far, such as `print` and `len`, but we can actually define our own.

#### Built-in Functions

By default, Python has a selection of built-in functions you can use without having to import anything. We have already talked about a few of these, and it is worth taking the time to investigate what they do! Python has some [excellent documentation](https://docs.python.org/3/library/functions.html), and learning how to read documentation is an important skill.


```
abs(), aiter(), all(), any(), anext(), ascii(), bin(), bool(), breakpoint(), bytearray(), bytes(), callable(), chr(), classmethod(), compile(), complex(), delattr(), dict(), dir(), divmod(), enumerate(), eval(), exec(), filter(), float(), format(), frozenset(), getattr(), globals(), hasattr(), hash(), help(), hex(), id(), input(), int(), isinstance(), issubclass(), iter(), L, len(), list(), locals(), map(), max(), memoryview(), min(), next(), object(), oct(), open(), ord(), pow(), print(), property(), range(), repr(), reversed(), round(), set(), setattr(), slice(), sorted(), staticmethod(), str(), sum(), super(), tuple(), type(), vars(), zip()
```

You can also import functions from other modules. Python is fortunate to have a large standard library!

In [131]:
import math

math.sqrt(25)

5.0

In [132]:
from random import randint, randrange, choice, random

print(randint(0, 10))  # the start and end points are INCLUSIVE
print(
    randrange(0, 10)
)  # the start point is INCLUSIVE, but the endpoint is EXCLUSIVE like range()
print(choice(fruit))  # selects a random fruit
print(random())  # generate a float in [0.0, 1.0)

9
8
fig
0.549345890023635

Exceptionally, you may wish to import a module into your current namespace under a different name. Often, this is because it may clash with a name you are already using in your code.

In [ ]:
statistics = [123.4, 534.234, 964.4]  # What great statistics!

import statistics as stats

stats.stdev([1, 2, 3, 4, 5])

While it is recommended to avoid doing so if not strictly necessary in other cases, shortening a long module name can be sometimes appropriate where it can add clarity, particularly if there would otherwise be a large number of references to the longer module name that would negatively impact the readability of the code.

Common examples of this you may see in the machine learning world include the following:
```py
import tensorflow as tf
import numpy as np
```

If you want to find out more about anything included within the Python standard library, check out the [documentation](https://docs.python.org/3/library/)!

#### User-defined Functions

Defining your own functions allows you to create your own units of reusable code. If used appropriately, they can contribute massively to code clarity and maintainability.

In [ ]:
def add(p, q):
    return p + q


# By default, arguments are passed in the same order in which they are defined
add(1, 2)

In [ ]:
# Python is very flexible with respect to argument order
# if you are explicit enough about what you want to do!

add(q=2, p=1)

In [ ]:
# It is possible to specify default values


def greet(name="Levon"):
    print(f"Hello, {name}!")


greet()
greet("Asmita")

As another quick aside, one important idea in _software engineering_ is the **single-responsibility principle** (SRP) that functions, classes, modules and so on should have one clear responsibility. This is related to two other principles: **don't repeat yourself** (DRY) and **keep it simple, stupid** (KISS -- no, not the rock band)!

You do not have to follow these principles religiously, but they can go a long way to helping you write cleaner code.

In practice, if you have a function that performs some intensive computation and then outputs the result, you might want to consider splitting that up into a function that performs the computation and another that handles how it is displayed and formatted. By decoupling these two operations from each other, this then makes code to perform the original computation much more reusable and the program a bit more maintainable!

In [ ]:
# We can also specify type annotations, which can be useful to other programmers,
# as well as to type checking software (linters), which can help spot bugs in code


def shout(message: str) -> None:
    print(message.upper())


shout(
    "hey can i interest you in some web3 blockchain machine learning techno-- *whack*"
)

**Recursion** is a technique that lets you define a function in terms of itself. Here is a link to a great video explaining recursion, https://www.youtube.com/watch?v=ngCos392W4w

In [ ]:
# This function uses an example of an 'early return' 👀
# Code often looks cleaner if you avoid 'else' clauses where they are unnecessary!


def factorial(n: int):
    if n <= 1:
        return 1

    return n * factorial(n - 1)


factorial(5)

In [ ]:
# Note: while recursion has its place, there is often a more efficient
# solution that uses plain iteration (and therefore avoids the risk of
# a call stack overflow)


def factorial(n: int) -> int:
    answer = 1
    for j in range(2, n + 1):
        answer *= j
    return answer


factorial(5)

## Classes

As has become apparent by this point, Python has first-class support for object-oriented programming. We have seen how we can create more complex data structures through **composition** (e.g. with tuples), as well as through **inheritance** (e.g. with Boolean values being sneaky subtypes of integers!). Furthermore, we have seen how we can define functions to define additional operations on data.

Building on these ideas, **classes** provide a natural way to define our own more complex object types of which instances may be instantiated. They can encapsulate data within their internal state and expose a number of operations through methods that act on that data.

More formally, instance objects may have data attributes (that store data within the object), as well as methods (that allow certain actions to be performed, typically involving said data attributes at least in part).

They are typically named using Pascal case, i.e. `ClassName` starting with an uppercase letter with no underscores, not `className` or `class_name`.

We have actually already seen classes: exceptions, such as `ValueError`, are classes that contain useful data attributes and helper methods.

In [ ]:
class Person:
    """A representation of a person."""

    species = "homo sapiens"

    def __init__(self, name, age) -> None:
        """This method is known as the constructor.

        It gets called when an instance of this class gets instantiated.

        Args:
            name (str): The name of the person.
            age (int): The age of the person.
        """

        self.name = name
        self.age = age

    def get_introduction(self):
        """Gets an introduction for the person.

        Returns:
            str: The introduction.
        """

        return f"{self.name} (aged {self.age}) is a person."

In [ ]:
Person.species

In [ ]:
# Legendary bassist 👀
joe_dart = Person("Joe Dart", 31)

print(joe_dart.get_introduction())

**Fun fact**: these "double underscore" methods, such as `__init__()`, are known as "dunder methods" (or more commonly in other languages, "magic methods").

In [ ]:
class Student(Person):
    """A representation of a student, which inherits from our
    pre-existing representation of a Person.
    """

    def __init__(self, name, age, degree, year) -> None:
        # We can call the parent's constructor! This is fairly common.
        super().__init__(name, age)

        self.degree = degree
        self.year = year

    def get_introduction(self):
        # We can override methods if we wish

        return f"{self.name} (aged {self.age}) is a student ({self.degree}, Year {self.year})."

    def get_hours_of_sleep(self):
        # We can also define new methods!

        if self.degree == "MEng Computer Science":
            return 0

        return 8

In [ ]:
jeremy = Student("Jeremy", 21, "MEng Computer Science", 4)

print(jeremy.get_introduction())
print("Hours of sleep:", jeremy.get_hours_of_sleep())

In [ ]:
ferran = Student("Ferran", 19, "MSci Neuroscience", 2)

print(ferran.get_introduction())
print("Hours of sleep:", ferran.get_hours_of_sleep())

In [ ]:
# This method comes from the Person class!
if jeremy.is_a_robot():
    print("Oops, I've been lying to those CAPTCHA checks all this time!")
else:
    print("Nah, this guy's definitely a human.")

Unfortunately, we are running out of time to go into classes into much more detail, but I would encourage you to read the [incredibly thorough documentation](https://docs.python.org/3/tutorial/classes.html)!

# Thank you!

Thank you so much for following this part of the tutorial. There is a lot of material here to digest, but you've absolutely got this!

Take your time to go through the examples and experiment. In fact, you can create and edit your own code blocks in this very Jupyter notebook and experiment alongside the examples we have included! The best way to learn and internalise all this information is to put it into practice.

If you are hungry to learn more about software engineering, reach out to us! In the meantime, you might want to look into some other coding principles that are important to writing clean code, such as defining clean **interfaces** between layers of our applications, the ideas of **abstraction** and **encapsulation**, and so on.

Writing production-ready software can be a complex process, involving stages such as the following:
- understanding users' requirements (possibly thinking about both functional and non-functional requirements using the MoSCoW method);
- designing and architecting a solution (what are the different components of your system? how do they interact and scale?);
- user interface and experience design;
- implementation (what technologies are the right tool to solve this problem? how can you write code that is easy to maintain, test and validate the correctness of?);
- testing (unit testing, integration testing & end-to-end testing);
- debugging (fixing parts of the codebase that do not work as intended);
- static analysis (can we find and correct errors in our code at build-time?);
- and so on.

Understandably, you might wish to jump straight into learning about the latest and greatest machine learning models (as you will be able to in our upcoming tutorials!), but spending the time now to get a _solid_ foundation in Python and perhaps ideas from software engineering more broadly can be a fulfilling way of setting yourself up to tackle larger challenges.

If you want to learn more about computer science, an excellent introduction is Harvard's [CS50](https://www.edx.org/cs50). They also have a 10-week course that focuses specifically on teaching Python, [CS50P](https://www.edx.org/course/cs50s-introduction-to-programming-with-python), rather than on computer science more broadly.